h4 {
    color: #ff0000;
}

ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: black;
}

body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: dimgrey;
    color: #696969;
    padding: 3px;
}

#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}

#rightDiv {
    float: right; width: 40%;
}


#leftDiv {
    float: left; width: 40%;
    padding-left:20px;
}

#cssmenu {
    background: #696969;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 12em;
    float: left;
    border-radius: 5px 5px 5px 5px;
}
#cssmenu li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#cssmenu a {
    background: #696969;
    border-bottom: 1px solid #696969;
    color: #ccc;
    display: block;
    margin: 0;
    padding: 8px 5px;
    text-decoration: none;
    font-weight: normal;
}

#cssmenu a:hover {
    background: black left center no-repeat;
    color: #fff;
    padding-bottom: 8px;
}

#footer {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    position:absolute;
    bottom:5%;
    width:150px;
    height:60px;   /* Height of the footer */
    border-radius: 5px 5px 5px 5px;
    background-color: #ffffff;
}
