<div id="leftDiv">
    <table border="1">
        <tr>
            <th>name</th>
            <th>tid</th>
            <th>path</th>
            <th>lun</th>
            <th>state</th>
            <th>iotype</th>
            <th>blocks</th>
            <th>blocksize</th>
        </tr>
        <?php foreach ($data as $value): ?>
        <tr>
            <td><?php echo $value[0] ?></td>
            <td><?php echo $value[1] ?></td>
            <td><?php echo $value[2] ?></td>
            <td><?php echo $value[3] ?></td>
            <td><?php echo $value[4] ?></td>
            <td><?php echo $value[5] ?></td>
            <td><?php echo $value[6] ?></td>
            <td><?php echo $value[7] ?></td>
        </tr>
        <?php endforeach; ?>
    </table>
</div>