.icon-danger {
    color: #d9534f;
}

.icon-success {
    color: #5cb85c;
}

.icon-warning {
    color: #f0ad4e;
}

.top-buffer {
    margin-top:20px;
}

.formError {
    text-align: center;
    margin-top: 14px;
    margin-bottom: 0;
}

.glyphicon-20 {
    font-size: 20px
}

.glyphicon-15 {
    font-size: 15px
}

.text-bold {
    font-weight: bold;
}

/* Spinner for buttons */
.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}