body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:#fbfbfb;
}

.form-signin .form-signin-heading, .checkbox {
    margin-bottom: 10px;
}
.form-signin  {
    font-weight: normal;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}

.form-control {
    background: #fbfbfb;
}

#addUserUsernameInput {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#addUserPasswordInput {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#addUserPasswordInputRepeat {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#addUserAuthCode {
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    margin-top: 1px;
    padding-bottom: 2px;
}

div.error {
    text-align: center;
    margin-top: 14px;
    margin-bottom: 0;
}

.container {
    padding-top: 6%;
}

.show-password {
    padding-top: 0.5em;
    padding-left: 0.25em;
}

/* HideShowPassword */
::-ms-reveal,
::-ms-clear {
    display: none !important;
}

.hideShowPassword-toggle {
    background: transparent;
    border: 0;
    border-radius: 0.25em;
    color: #888;
    cursor: pointer;
    font-size: 0.75em;
    font-weight: bold;
    margin-right: 0.5em;
    padding: 0.5em;
    text-transform: uppercase;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.hideShowPassword-toggle:hover,
.hideShowPassword-toggle:focus {
    background-color: #eee;
    color: #555;
    outline: transparent;
}