h4 {
    color: #ff0000;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

@media (min-width: 880px) {
    ul.nav li.dropdown:hover ul.dropdown-menu{
        display: block;
        margin-top:0px
    }
}

body {
    margin-bottom: 60px;
    padding-top: 70px;
}

.footer {
    position: absolute;
}

.bestaetigung {
    position: absolute;
    display: none;
}

.focusedInputerror {
    box-shadow: 0 0 1.5px 1px red;
}

li {
    list-style-type: none;
}

.green {
    color: #5cb85c;
}

.red {
    color: #d9534f;
}

em{
    background-color: yellow
}


.filter-table .quick {
    margin-left: 0.5em; font-size: 0.8em; text-decoration: none;
}

.fitler-table .quick:hover {
    text-decoration: underline;
}

td.alt {
    background-color: #ffc; background-color: rgba(255, 255, 0, 0.2);
}