body {
    margin-bottom: 60px;
    position: relative;
    background-color:#fbfbfb;
}

@media (min-width: 880px) {
    ul.nav li.dropdown:hover ul.dropdown-menu{
        display: block;
        margin-top:0px
    }
}

.footer {
    position: absolute;
}

.bestaetigung {
    position: absolute;
    display: none;
}

li {
    list-style-type: none;
}

.green {
    color: #5cb85c;
}

.red {
    color: #d9534f;
}

em{
    background-color: yellow
}

.filter-table .quick {
    margin-left: 0.5em; font-size: 0.8em; text-decoration: none;
}

.fitler-table .quick:hover {
    text-decoration: underline;
}

td.alt {
    background-color: #ffc; background-color: rgba(255, 255, 0, 0.2);
}

.glyphicon-20 {
    font-size: 20px
}

.glyphicon-15 {
    font-size: 15px
}

.top-buffer { margin-top:20px; }

.centered-table-field {
    text-align: center;
}

.center {
    text-align: center;
}

.panel-body {
    padding-top: 0;
}

select {
    border:1px solid #ccc;
    vertical-align:top;
    height:20px;
}
input, select{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div.ui-slider-range.ui-widget-header {
    background: #5cb85c;
}

.input-group-addon-25 {
    min-width:25%;
    text-align:left;
}

.input-group-addon-16 {
    min-width:16%;
    text-align:left;
}

.input-group {
    width: 100%;
}

.navbar-inverse .navbar-nav > .open > a:focus {
    color: #9d9d9d;
    background-color: #222;
}

.panel-aligned {
    height:43px;
    padding-top: 11px;
}