<div id='cssmenu'>
    <ul>
        <li class='last'><a href='/phpietadmin/disks.php'><span>Disks</span></a></li>
        <li class='last'><a href='#'><span>IET</span></a>
            <ul class='active'><a href='/phpietadmin/volumes.php'><span>Volumes</span></a></ul>
            <ul class='last'><a href='/phpietadmin/sessions.php'><span>Sessions</span></a></ul>
        </li>
        <li class='last'><a href='#'><span>LVM</span></a>
            <ul class='last'><a href='/phpietadmin/lvm/display/pv.php'><span>Physical Volumes (PV)</span></a></ul>
            <ul class='active'><a href='/phpietadmin/lvm/display/vg.php'><span>Volume Groups (VG)</span></a></ul>
            <ul class='last'><a href='/phpietadmin/lvm/display/lv.php'><span>Logical Volumes (LV)</span></a></ul>
        </li>
        <li class='last'><a href='#'><span>Allow</span></a>
            <ul class='last'><a href='/phpietadmin/allow/initiators/display.php'><span>Initiators</span></a></ul>
            <ul class='last'><a href='/phpietadmin/allow/targets/display.php'><span>Targets</span></a></ul>
        </li>
    </ul>
</div>
