<div id="leftDiv">
    <br>
        <form action="lv_shrink.php" method="post">
            <table border="0">
                <tr>
                    <td>New size:</td>
                    <td><input type="range" min="1" max="<?php echo $maxsize2 ?>" value="1" name="size" step="1" onchange="showValue(this.value + 'G')"  oninput="showValue(this.value + 'G')"/>
                        <span id="range"><1G</span>
                        <script type="text/javascript">
                            function showValue(newValue) {
                                document.getElementById("range").innerHTML=newValue;
                            }
                        </script>
                    <td><input type='submit' value='Shrink'></td>
                </tr>
            </table>
        </form>
    <p><h4><b>Warning:</b> Reducing the size of an lvm volume is dangerous and can cause data loss</p><h4>
</div>