<div id="leftDiv">
    <p>
        <form action="lv_shrink.php" method="post">
                <tr>
                    <td>VG:</td>
                    <td>
                        <select name="vg_post">
                            <option value="">Select...</option>
                            <?php for ($i = 0; $i < count($data); $i++) { echo '<option value=' . ($i+1) . '>' . $data[$i] . '</option>'; } ?>
                        </select>
                    </td>
                </tr>
        <input type='submit' value='Next'>
    </p>
</div>